@font-face {
    font-family: 'Futura Bold';
    src: url('./fonts/futura/FuturaBoldfont.ttf');
}
@font-face {
    font-family: 'Futura Medium';
    src: url('./fonts/futura/futuraMediumbt.ttf');
}

@font-face {
    font-family: 'Futura Light';
    src: url('./fonts/futura/futuraLightbt.ttf');
}

@font-face {
    font-family: 'Poppins Light';
    src: url('./fonts/poppins/PoppinsLight.ttf');
}
@font-face {
    font-family: 'Poppins Bold';
    src: url('./fonts/poppins/PoppinsBold.ttf');
}
@font-face {
    font-family: 'Poppins Medium';
    src: url('./fonts/poppins/PoppinsMedium.ttf');
}
@font-face {
    font-family: 'Poppins Semibold';
    src: url('./fonts/poppins/PoppinsSemiBold.ttf');
}
@font-face {
    font-family: 'Poppins Regular';
    src: url('./fonts/poppins/PoppinsRegular.ttf');
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('./fonts/benchif/BAHNSCHRIFT.TTF');
}

@font-face {
    font-family: 'Open Sans bold';
    src: url('./fonts/opensans/OpenSansBold.ttf');
}
@font-face {
    font-family: 'Open Sans regular';
    src: url('./fonts/opensans/OpenSansRegular.ttf');
}


@font-face {
    font-family: 'Kalam light';
    src: url('./fonts/kalam/KalamLight.ttf');
}
@font-face {
    font-family: 'Kalam bold';
    src: url('./fonts/kalam/KalamBold.ttf');
}

@font-face {
    font-family: 'Kalam regular';
    src: url('./fonts/kalam/KalamRegular.ttf');
}
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

